* {
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: #5e5a55;
}

header h1 {
  font-size: 55px;
  color: black;
  margin-left: 25px;
  background-color: #5e5a55;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #5e5a55;
}

header nav ul li {
  margin: 0 15px;
  font-size: 30px;
  color: black;
  background-color: #5e5a55;
}

nav {
  background-color: #5e5a55;
}

nav a {
  background-color: #5e5a55;
  color: black;
  text-decoration: none;
}

h2 {
  color: black;
  font-size: 45px;
  text-align: center;
}

div .imgdiv {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.imgdiv {
  max-width: 300px;
}

.imgdiv img {
  width: 100%;
}

.about {
  display: flex;
  text-align: center;
}

.about div {
  font-size: 20px;
  margin: 75px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-link {
  justify-content: center;
  position: relative;
  text-align: center;
}

.feature {
  position: absolute;
  margin-left: 8px;
  margin-top: 8px;
  font-size: 25px;
  color: white;
  z-index: 1;
  background-color: black;
}

.portfolio {
  position: absolute;
  font-size: 20px;
  color: white;
  margin-left: 8px;
  margin-top: 8px;
  z-index: 1;
  background-color: black;
}

.contact {
  text-align: center;
  padding-bottom: 30px;
}

.res {
  text-align: center;
}

.res embed {
  width: 640px;
  height: 830px;
}

form {
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  width: 30%;
  border: 1px solid black;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: black;
  margin-bottom: 15px;
  margin-top: 5px;
  margin: 5px auto 15px auto;
  border-radius: 10px;
  background-color: #fff;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: rgb(185, 178, 178);
  outline: none;
}

.contact-form button {
  border: none;
  background: #5e5a55;
  color: white;
  width: 15%;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}

.contact-form button:hover {
  color: white;
  background: #333230;
}

@media screen and (max-width: 480px) {
  header nav ul {
    justify-content: center;
  }

  header h1 {
    text-align: center;
  }
  
  .about {
    flex-direction: column;
  }

  .contact-form input,
  .contact-form textarea {
    width: 75%;
  }

  .contact-form button {
    width: 30%;
  }
}

@media screen and (max-width: 820px) {
  
  .contact-form input,
  .contact-form textarea {
    width: 55%;
  }

  .contact-form button {
    width: 30%;
  }
}