header {
    display: flex;
    line-height: 300px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(../images/wooded-trail.jpg);
}

header h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: 35px;
}

header nav {
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

header nav ul li {
    font-size: 20px;
}

.hero img {
    width: 100%;
}

.imgdiv {
    flex: 0 0 35%;
    max-width: 300px;
}

.imgdiv img {
    width: 100%;
}

.about {
    display: flex;
    text-align: left;
}

.about div {
    flex: 1 1 65%;
}

@media screen and (max-width: 650px){
    .about {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 575px){
    
}