* {
    background-color: #87643e;
}

div img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: #87643e;
}

header h1 {
    display: inline;
    font-size: 55px;
    color: #ffe02a;
    margin-left: 25px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 0 15px;
    font-size: 30px;
    color: lime;
}

h2 {
    color: #fea201;
    font-size: 45px;
    text-align: center;
}


.imgdiv {
    flex: 0 0 35%;
    max-width: 300px;
}

.imgdiv img {
    width: 100%;
}

.about {
    display: flex;
    text-align: left;
}

.about div {
    flex: 1 1 65%;
    font-size: 20px;
    margin: 75px;
}

@media screen and (max-width: 650px){
    .about {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 575px){
    
}